version: "3.7"

networks:
  mojaloop-net:
    name: mojaloop-net

services:
  auth-service:
    container_name: as_auth-service
    image: mojaloop/auth-service:local
    command: sh -c "npm run migrate && npm run start"
    build:
      context: .
      cache_from:
        - mojaloop/auth-service:local

    ports:
      - "4004:4004"
    networks:
      - mojaloop-net
    depends_on:
      - mysql
      - redis
    volumes:
      - ./scripts/wait4.js:/opt/auth-service/scripts/wait4.js
      - ./scripts/wait4.config.js:/opt/auth-service/scripts/wait4.config.js
      # Mount the config folder for easy config updates
      - ./config:/opt/auth-service/config
    environment:
      - NODE_ENV=integration
      - LOG_LEVEL=debug
    healthcheck:
      test: wget -q http://localhost:4004/health -O /dev/null || exit 1
      timeout: 20s
      retries: 30
      interval: 15s
    user: root

  mysql:
    image: mysql/mysql-server
    container_name: as_mysql
    ports:
      - "3306:3306"
    volumes:
      - ./docker/sql-init/:/docker-entrypoint-initdb.d/
    environment:
      - MYSQL_USER=${DBUSER:-auth-service}
      - MYSQL_PASSWORD=${DBPASS:-password}
      - MYSQL_DATABASE=${DBUSER:-auth-service}
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    networks:
      - mojaloop-net
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "mysql"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

  redis:
    container_name: as_redis
    image: "redis:6.2.4-alpine"
    networks:
      - mojaloop-net
    ports:
      - "6379:6379"
    restart: always

  ml-testing-toolkit:
    image: mojaloop/ml-testing-toolkit:v12.4.0
    container_name: as_ml-testing-toolkit
    volumes:
      - "./docker/ml-testing-toolkit/spec_files:/opt/mojaloop-testing-toolkit/spec_files"
      - "./docker/ml-testing-toolkit/secrets:/opt/mojaloop-testing-toolkit/secrets"
    ports:
      - "5000:5000"
      - "5050:5050"
    command: npm start
    networks:
      - mojaloop-net
    depends_on:
      - mongo

  ml-testing-toolkit-ui:
    image: mojaloop/ml-testing-toolkit-ui:v12.0.0
    container_name: as_ml-testing-toolkit-ui
    ports:
      - "6060:6060"
    command: nginx -g "daemon off;"
    depends_on:
      - ml-testing-toolkit
      - mongo
    networks:
      - mojaloop-net

  mongo:
    image: mongo
    container_name: as_mongo
    ports:
      - "27017:27017"
